<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="simplesearch">
<head>
    <meta charset="utf-8">
    <title>SITE NAME - Results</title>
    <meta name="author" content="eScholarship Research Centre, University of Melbourne">
    <meta name="description" content="AJAX web interface to Apache Solr/Lucene">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <style>
        [ng-cloak] {display: none;}
        body {
            color: #333;
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            line-height: 20px;
        }
        .container {
            margin: 10px auto 10px auto;
            width: 512px;
        }
        #footer {
            padding: 20px 0 20px 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="http://www.esrc.unimelb.edu.au/simplesearch.min.css" media="screen" />
    <script type="text/javascript" src="http://www.esrc.unimelb.edu.au/simplesearch.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Search Page Example</h1>
            <p>
                This page demonstrates how to implement SimpleSearch on your
                web site. It has two parts: the search form, and the search
                results listing. Take a look at the comments in the HTML source
                of this page to understand how it is implemented.
            </p>

            <!--
                The Search Form:

                The search form can go on any page of your web site. Users
                enter one or more keywords into the form then hit the enter
                key, or click the search button to execute the search. The
                form provides a list of up to 10 search hints to the user
                after they have entered 3 or more characters.

                The data-source value is the URL to your project's Solr
                search index. Replace 'FACP' in the URL with your four
                letter project code.

                If you have renamed the file from search.html to something
                else, replace the data-presenter value with the new file name.
            -->

            <!-- search form -->
            <form class="simplesearch-form"
                  ng-controller="SearchFormController"
                  data-field="title_city"
                  data-presenter="search.html"
                  data-source="http://data.esrc.unimelb.edu.au/solr/FACP">
                <input name="q" type="text" placeholder="Keyword or place name" searchbox />
                <input name="submit" type="submit" value="search" searchbutton/>
            </form>
            <!-- /search form -->

            <br>

            <!--
                The Search Results:

                The section below renders the search results for the user. You
                will note the presence of a number of tags of the form
                {{ doc.property }}. These are placeholders that tell
                SimpleSearch to display the respective property value for each
                document that is found. You can customize the HTML layout and
                CSS styles for the way this content is presented.

                The data-source value is the URL to your project's Solr
                search index. Replace 'FACP' in the URL with your four
                letter project code.
            -->

            <!-- search results -->
            <div class="simplesearch-results"
                 ng-controller="SearchResultsController"
                 data-source="http://data.esrc.unimelb.edu.au/solr/FACP">
                <div class="summary" ng-show="documents.length>0">
                    You searched for '{{userquery}}'. The query returned {{totalResults}} documents.
                    Showing page {{page + 1}} of {{totalPages}} pages.
                </div>
                <div class="document" ng-repeat="doc in documents">
                    <div class="title"><a ng-href="{{doc.presentation_url}}">{{doc.title}}</a></div>
                    <div class="url"><a ng-href="{{doc.presentation_url}}">{{doc.presentation_url}}</a></div>
                    <div class="abstract">{{doc.abstract | truncate:250 }}</div>
                    <div class="meta inline">
                        <span class="region" ng-show="doc.region">{{doc.region}}</span>
                        <span class="country" ng-show="doc.country">{{doc.country}}</span>
                        <div class="existdates">
                            <span>{{doc.fromDate}}</span>
                            <span ng-show="doc.toDate">&ndash;</span>
                            <span>{{doc.toDate}}</span>
                        </div>
                    </div>
                </div>
                <div class="pagination" ng-hide="error">
                    <ul>
                        <li ng-repeat="page in pages" ng-cloak>
                            <a ng-class="{iscurrent:page.isCurrent}" ng-click="$parent.handleSetPage(page.number)">{{page.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- search results -->

        </div>
    </div>
</div>
<!-- /search results -->

<!-- footer -->
<div id="footer" class="container">
    <div class="row">
        <hr noshade size='1' />

        EAC-CPF simple search interface to Apache Solr. A project of the
        <a href="http://www.esrc.unimelb.edu.au/">eScholarship Research Centre</a>, University of Melbourne.
    </div>
</div>
<!-- /footer -->

</body>
</html>
