/**
 * Simple Search default screen styles
 */

.simplesearch-form {
}
.simplesearch-results .summary {
    font-style: italic;
    padding-bottom: 20px;
}
.simplesearch-results .document {
    padding-bottom: 15px;
}
.simplesearch-results .document .title a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.simplesearch-results .document .url {
    padding-bottom: 3px;
}
.simplesearch-results .document .url a {
    color: green;
    font-size: small;
    text-decoration: none;
}
.simplesearch-results .document .thumb {
    float: right;
}
.simplesearch-results .document .abstract {
    padding-bottom: 3px;
}
.simplesearch-results .meta {
    color: #444;
    font-size: small;
    font-style: italic;
}
.simplesearch-results .inline {
    display: inline;
}
.simplesearch-results .inline div {
    padding-right: 5px;
}
.simplesearch-results .pager {
    padding: 10px 0 10px 0;
}
.simplesearch-results .pagination {
    display: block;
    margin: 0 0 5px 0;
}
.simplesearch-results .pagination ul {
    background: none;
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.simplesearch-results .pagination ul li {
    background: none;
    display: inline;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.simplesearch-results .pagination ul li a {
    background: none;
    border: 1px solid #ddd;
    border-left: none;
    float: left;
    line-height: 20px;
    padding: 4px 12px 4px 12px;
    text-decoration: none;
}
.simplesearch-results .pagination ul li:first-child a {
    border-left: 1px solid #ddd;
}

.ui-autocomplete .ui-menu-item {
    background-color: white;
    max-width: 400px;
    overflow: hidden;
}
